<template>
    <task-list-page :project.sync="project"></task-list-page>
</template>

<script>
import TaskListPage from './../tasks/index.vue'
import http from './../../services/http'
import ProjectModel from './../../models/project'
import Project from './../../stores/project'

export default {
    components: {
        TaskListPage
    },

    ready() {
    	Project.get(this.$route.params.id)
    		.then(response => {
    			this.$root.pageTitle = response.data.name;
    			this.project = response.data
    		})
	},

	data() {
		return {
			project: ProjectModel
		}
	}
}
</script>