<template>
    <ul class="nav nav-tabs">
        <li role="presentation"><a v-link="{path: '/projects/1'}">On going</a></li>
        <li role="presentation"><a v-link="{path: '/projects/1/completed-task'}">Show completed (12)</a></li>
    </ul>
    <div style="margin-top: 20px;" class="tab-content">
        <tasks-panel title="Tasks" icon="tasks">
            <div slot="content">
                <div v-if="project.tasks.length == 0" class="alert alert-info">No task listed.</div>
                <div id="tasks" class="list-group">
                    <task-list v-for="task in project.tasks" :task.sync="task" :proceduremodal.sync="showProcedureModal"></task-list>
                </div>
            </div>
        </tasks-panel>
        <div v-show="addNewTask" class="well">
            <task-form :form.sync="task"></task-form>
        </div>

        <button v-show="addNewTask" v-on:click="submit()" class="btn btn-success">Add task</button>
        <button v-on:click="addNewTask = !addNewTask" class="btn btn-{{ addNewTask ? 'danger' : 'success' }}">
            <i class="fa fa-{{ addNewTask ? 'remove' : 'plus' }}"></i>&nbsp;
            {{ !addNewTask ? 'Add new task' : 'Cancel' }}
        </button>

        <router-view></router-view>
    </div>
    <procedure-modal :show.sync="showProcedureModal" title="Add new procedure">
        <procedure-form slot="content" :form.sync="procedure"></procedure-form>
    </procedure-modal>
</template>

<script>
// components
import TasksPanel from './../../components/panel.vue'
import TaskForm from './../../components/forms/task.vue'
import TaskList from './../../components/task-list.vue'
import ProcedureModal from './../../components/modal.vue'
import ProcedureForm from './../../components/forms/procedure.vue'

// Models
import ProjectModel from './../../models/project'
import TaskModel from './../../models/task'

// plugins
import dragula from 'dragula'

export default {
    components: {
        TasksPanel, TaskForm, ProcedureModal, ProcedureForm, TaskList
    },

    props: {
        project: {
            type: Object,
            twoWay: true,
            default: ProjectModel
        }
    },

    ready() {
        dragula([document.getElementById('tasks')]);
    },

    data() {
        return {
            addNewTask: false,
            showProcedureModal: false,
            procedure: {title: ''},
            task: TaskModel
        }
    },

    methods: {
        submit() {
            this.$dispatch('form:submit', 'task');
        }
    },

    events: {
        'task:created'(task) {
            this.project.tasks.push(task)
        }
    }
}
</script>