<template>
    <form v-on:submit.prevent="submit()">
        <div class="alert alert-info">
            Press <code>ENTER</code> to submit.
        </div>
        <div class="form-group">
            <label for="name">Select existing procedure</label>
            <select class="form-control" v-model="choiceSelection">
                <option v-bind:value="'add'">Add new</option>
                <option v-for="option in options" v-bind:value="option.value">{{ option.text }}</option>
            </select>
        </div>
        <div v-show="showForm">
            <h4 class="text-center text-thin">or create a new one</h4>
             
            <div class="form-group">
                <label for="name">Title</label>
                <input type="text" class="form-control" v-model="form.title">
            </div>
            <div class="form-group">
                <label for="name">Write something</label>
                <textarea id="procedure" class="form-control" v-model="form.procedure"></textarea>
            </div>
        </div>
        <input type="submit" style="display: none;" />
    </form>
</template>

<script>

export default {
    props: {
        form: {
            type: Object,
            twoWay: true
        }
    },

    data() {
        return {
            showForm: false,

            options: [
                {
                    text: 'Backup using backupbuddy',
                    value: 'backup'
                }, {
                    text: 'setup aws',
                    value: 'aws'
                }
            ],

            choiceSelection: ''
        }
    },

    ready() {
        tinymce.init({ selector:'#procedure' });
    },

    watch: {
        'choiceSelection'(val) {
            this.$nextTick(() => {
                if (val == 'add') {
                    this.showForm  = true;
                } else {
                    this.showForm = false;
                }
            })
        }
    },

    events: {
        'form:submit'(form) {
            if (form == 'procedure')
                this.submit();
        }
    }
}
</script>