<template>
    <form v-on:submit.prevent="submit()">
        <div class="alert alert-info">
            Press <code>ENTER</code> to submit.
        </div>
        <div v-if="!form.team_id" class="form-group">
            <label for="name">Select team</label>
            <select class="form-control" v-model="form.team_id" required>
                <option v-for="team in teams" v-bind:value="team.id">
                    {{ team.name }}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" v-model="form.name" placeholder="">
        </div>
        <div class="form-group">
            <label for="name">Description</label>
            <textarea v-model="form.description" class="form-control wysiwg"></textarea>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="phone">Start date</label>
                    <input id="start" type="text" class="form-control" v-model="form.start" placeholder="Start date">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="phone">End date</label>
                    <input id="end" type="text" class="form-control" v-model="form.end" placeholder="End date">
                </div>
            </div>
        </div>
        <input type="submit" style="display: none;" />
    </form>
</template>

<script>
    import Team from './../../stores/team'
    import Project from './../../stores/project'

    export default {
        props: {

            form: {
                type: Object,
                twoWay: true,
                default: () => {
                    return {}
                }
            },

            method: {
                type: String,
                default: 'POST'
            }
        },

        data() {
            return {
                teams: []
            }
        },

        ready() {
            tinymce.init({ selector:'.wysiwg' });
            Team.all().then(response => {
                    this.teams = response.data;
                })
        },

        methods: {
            submit() {
                if (this.form.team) {
                    this.form.team_id = this.form.team.id;
                }
                switch(this.method) {
                    case 'POST':
                        Project.store(this.form).then(response => {
                            this.$dispatch('project:created', response.data);
                            $.notify('Project: ' + response.data.name + ' added!');
                        });
                        break;
                    case 'PUT': 
                        Project.update(this.form).then(response => {
                            $.notify('Project: ' + response.data.name + ' updated!');
                        });
                        break;
                }
            }
        },

        events: {
            'form:submit'(form) {
                if (form == 'project') {
                    this.form = {};
                    this.submit();
                }
            }
        }

    }
</script>