<template>
    <form v-on:submit.prevent="submit()">
        <div class="alert alert-info">
            Press <code>ENTER</code> to submit.
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" v-model="form.title" placeholder="">
        </div>
        <div class="form-group">
            <label for="name">Write something</label>
            <textarea v-model="form.description" class="form-control wysiwyg"></textarea>
        </div>
        
        <input type="submit" style="display: none;" />
    </form>
</template>

<script>
import http from './../../services/http'
import Project from './../../stores/project'
import Task from './../../stores/task'

export default {

    props: {
        form: {
            type: Object,
            twoWay: true,
            default() {
                return {}
            }
        }
    },

    ready() {
        tinymce.init({ selector:'.wysiwyg' });
        Project.get(this.$route.params.id)
            .then(response => {
                this.project = response.data
            });
    },

    data() {
        return {
            project: {}
        }
    },

    methods: {
        submit() {
            Task.store({
                project_id: this.project.id,
                task: this.form
            }).then(response => {
                this.$dispatch('task:created', response.data);
                this.form = {};
            });
        }
    },

    events: {
        'form:submit'(form) {
            if (form == 'task')
                this.submit();
        }
    }
}
</script>