<template>
    <form v-on:submit.prevent="submit()">
        <div class="alert alert-info">
            Press <code>ENTER</code> to submit.
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" v-model="form.name" placeholder="Give your team a name">
        </div>
        <div class="form-group">
            <label for="website">Website</label>
            <input type="url" class="form-control" v-model="form.website" placeholder="Website">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" v-model="form.email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="industry">Industry</label>
            <select class="form-control">
                <option>Information Technology</option>
                <option>Medicine</option>
            </select>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" v-model="form.phone" placeholder="Phone">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="phone">Fax</label>
                    <input type="text" class="form-control" v-model="form.fax" placeholder="Fax">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="industry">Line address</label>
            <textarea class="form-control" placeholder="Line address" v-model="form.line"></textarea>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" v-model="form.city" placeholder="City">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="zip-code">Zip code</label>
                    <input type="text" class="form-control" v-model="form.zip" placeholder="Zip code">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="state">State</label>
                    <input type="text" class="form-control" v-model="form.state" placeholder="State">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" class="form-control" v-model="form.country" placeholder="Country">
                </div>
            </div>
        </div>
        <input class="btn btn-success hidden" type="submit" value="Submit" />
    </form>
</template>

<script>
import Team from './../../stores/team'
import TeamModel from './../../models/team'

export default {
    props: {
        method: {
            type: String,
            default: 'POST'
        },

        form: {
            type: Object,
            twoWay: true,
            default: TeamModel
        }
    },

    methods: {
        submit() {
            switch(this.method) {
                case 'POST':
                    Team.store(this.form).then(response => {
                        this.$dispatch('team:created', response.data);
                    });
                    break;
                case 'PUT':
                    Team.update(this.form);
                    break;            
            }
            this.form = TeamModel;
        }
    },

    events: {
        'form:submit'(form) {
            if (form == 'team')
                this.submit();
        }
    }
}
</script>