<template>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" v-link="{path: '/'}">LaraTeam</a>
		</div>

		<navbar></navbar>

		<sidebar></sidebar>
	</nav>
</template>

<script>

import Navbar from './navbar.vue'
import Sidebar from './sidebar.vue'

export default {
	components: {
		Navbar, Sidebar
	}
}

</script>