<template>
	<div class="navbar-default sidebar" role="navigation">
	    <div class="sidebar-nav navbar-collapse">
	        <ul class="nav" id="side-menu">
	            <li class="sidebar-search">
	                <div class="input-group custom-search-form">
	                    <input type="text" class="form-control" placeholder="Search...">
	                    <span class="input-group-btn">
							<button class="btn btn-default" type="button">
								<i class="fa fa-search"></i>
							</button>
						</span>
	                </div>
	                <!-- /input-group -->
	            </li>
	            <li>
	                <a v-link="'/'"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
	            </li>
				<li>
					<a href="#"><i class="fa fa-users fa-fw"></i> Teams<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li>
							<a v-link="'/teams'">Teams</a>
						</li>
						<li>
							<a class="pointer" data-toggle="modal" data-target="#showTeamModal">Create a team</a>
						</li>
					</ul>
					<!-- /.nav-second-level -->
				</li>
	        </ul>
	    </div>
	    <!-- /.sidebar-collapse -->
	</div>
</template>