<template>
	<div class="row">
	    <div v-for="stat in stats" class="col-lg-3 col-md-6">
	        <dashboard-stat :title="stat.title" :color="stat.color" :icon="stat.icon" :count="stat.count" :link="stat.link">
			</dashboard-stat>
	    </div>
	</div>
</template>

<script>
import DashboardStat from './../components/stat.vue'

export default {

	components: {
		DashboardStat
	},

	ready() {
		this.$root.pageTitle = 'Dashboard';
	},

	data() {
		return {

			showTeamModal: false,

			stats: [
				{ title: 'Teams', color: 'primary', icon: 'users', count: 2, link: '/teams' },
				{ title: 'Tasks', color: 'success', icon: 'list', count: 42, link: '' }
			]

		}
	}

}
</script>