<template>
	<div id="app">
		<navigation></navigation>
		<content :title.sync="pageTitle"></content>
	</div>
</template>

<script>

import Navigation from './components/navigation/index.vue'
import Content from './components/content.vue'
import Vue from 'vue'

export default {

	components: {
		Navigation, Content
	},

	data() {
		return {
			pageTitle: ''
		}
	},

	events: {
		'notification:created'(notification) {
			this.$broadcast('notification:created', notification)
		},

		'team:created'(team = null) {
			this.$broadcast('team:created', team);
		},

		'project:created'(project = null) {
			this.$broadcast('project:created', project);
		},

		'task:created'(task = null) {
			this.$broadcast('task:created', task);
		},

		'form:submit'(form = '') {
			this.$broadcast('form:submit', form)
		}
	}
}

Vue.filter('date', function(value, format) {

    if (format === 'relative') {
        return moment(value).fromNow();
    }

    return moment(value).format(format);

});
</script>