<template>
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">{{ title }}</h1>
			</div>
		</div>
		<router-view></router-view>
	</div>

	<modal target="showProjectModal" title="Create a new project">
		<project-form slot="content" :form.sync="project"></project-form>
		<div slot="modal-footer" class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button @click="submitProject()" class="btn btn-primary">Save changes</button>
		</div>
	</modal>

	<modal target="showTeamModal" title="Create a team">
		<team-form slot="content" :form.sync="team" method="POST"></team-form>
		<div slot="modal-footer" class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button @click="submitTeam()" class="btn btn-primary">Save changes</button>
		</div>
	</modal>
</template>

<script>
	import Modal from './modal.vue'

	// Forms
	import ProjectForm from './forms/project.vue'
	import TeamForm from './forms/team.vue'

	export default {
		components: {
			Modal, ProjectForm, TeamForm
		},

		props: {
			title: {
				type: String,
				twoWay: true
			}
		},

		data() {
			return {
				team: {},
				project: {}
			}
		},

		methods: {
			submitTeam() {
				this.$dispatch('form:submit', 'team')
			},

			submitProject() {
				this.$dispatch('form:submit', 'project');
			}
		}
	}
</script>