<template>
    <div class="panel panel-default">
        <slot name="panel-heading"> 
            <div class="panel-heading">
                <i class="fa fa-{{ icon }} fa-fw"></i> {{ title }}
                <div class="pull-right">
                    <slot name="right-heading"></slot>
                </div>
            </div>
        </slot>
        <div class="panel-body">
            <slot name="content"></slot>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
            default: 'Panel title'
        },
        icon: {
            type: String,
            default: 'user'
        }
    }
}
</script>