<template>
	<div class="list-group-item draggable-item has-controls">
        <div style="margin-right: 5px; padding-right: 10px; border-right: 1px solid #F5F5F5;" class="btn-group">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a>Sub task</a></li>
                <li><a v-on:click="proceduremodal = true">Procedure</a></li>
                <li><a>Assign</a></li>
                <li><a>Estimate</a></li>
            </ul>
        </div>
        <input style="cursor: pointer;" type="checkbox" /> 
        <a v-link="{path: '/'}">
            {{ task.title }}
        </a>
        <span class="pull-right text-muted small">
            <i role="button" 
                data-toggle="collapse" 
                data-target="#task-{{ task.id }}" 
                aria-expanded="false" 
                aria-controls="task-{{ task.id }}" 
                data-toggle="popover" 
                title="Start timer" 
                data-content=""
                class="fa fa-lg fa-clock-o controls">
            </i>
            <i data-toggle="tooltip" data-placement="top" title="Show attachments" class="fa fa-lg fa-folder controls"></i>
            <i data-toggle="tooltip" data-placement="top" title="Toggle comments" class="fa fa-lg fa-comment controls"></i>
            <i data-toggle="tooltip" data-placement="top" title="Toggle procedures" class="fa fa-lg fa-tasks controls"></i>
            <i @click="remove(this)" data-toggle="tooltip" data-placement="top" title="Remove task" class="fa fa-lg fa-remove controls"></i>
        </span>
    
        <div class="collapse" id="task-{{ task.id }}">
            <div class="task-collapse-details">
                Do it now. Fast!
            </div>
        </div>
    </div>
</template>

<script>
    import Task from './../stores/task'
	export default {

		props: {
			task: {
				type: Object,
			},
			proceduremodal: {
				type: Boolean,
				twoWay: true
			}
		},

        methods: {
            remove(elem) {
                Task.delete(elem.task)
                    .then(response => {
                        elem.$remove()
                    })
            }
        }

	}
</script>