<template>
    <li class="timeline-inverted">
        <div class="timeline-badge success"><i class="fa fa-check"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">{{ task.title }}</h4>
                <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small>
                </p>
            </div>
            <div class="timeline-body">
                <p>{{ task.details }}</p>
            </div>
        </div>
    </li>
</template>

<script>
export default {
    props: {
        task: {
            type: Object,
            twoWay: true,
            default() {
                return {

                }
            }
        }
    }
}
</script>