<template>
    <div id="morris-bar-chart"></div>
</template>

<script>
    export default {
        ready() {
            Morris.Bar({
                element: 'morris-bar-chart',
                data: [{
                    y: '1',
                    a: 3
                }, {
                    y: '2',
                    a: 8
                }, {
                    y: '3',
                    a: 5
                }],
                xkey: 'y',
                ykeys: ['a'],
                labels: ['Hours logged'],
                hideHover: 'auto',  
                // resize: true
            });
        }
    }
</script>