<template>
    <div class="row profile">
        <div class="col-md-3">
            <div class="photo">
                <div class="upload-photo img-rounded" onclick="document.getElementById('choose-photo').click();">
                    <i class="fa fa-picture-o fa-lg text-center"></i>
                </div>
                <form enctype="multipart/form-data">
                    <input @change="changePhoto" name="photo" id="choose-photo" type="file" />
                </form>
                <img style="width: 100%;" class="img-rounded thumbnail" :src="user.photo" />
            </div>
            <button data-loading-text="Uploading image..." v-if="uploadingPhoto" @click="uploadPhoto" class="btn btn-primary btn-upload">Upload photo</button>
            <div class="summary">
                
            </div>
        </div>
        <div class="col-md-9">
            <ul class="nav nav-tabs">
                <li role="presentation"><a v-link="{path: '/user/rosemalejohn', activeClass: 'active'}">Overview</a></li>
                <li role="presentation"><a v-link="{path: '/user/rosemalejohn/overview', activeClass: 'active'}">Details</a></li>
                <li role="presentation"><a v-link="{path: '/user/rosemalejohn/logged-time', activeClass: 'active'}">Logged time</a></li>
            </ul>
            <div class="tab-content">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>

<script>
    import User from './../../models/user'
    import account from './../../stores/account'
    import config from './../../config'
    import http from './../../services/http'

    export default {
        
        ready() {
            account.getAuthenticatedUser()
                .then(response => {
                    this.user = response.data
                    this.$root.pageTitle = response.data.name
                })
            this.config = config;
        },

        data() {
            return {
                user: User,
                uploadingPhoto: false
            }
        },

        methods: {
            changePhoto(event) {
                var input = event.target;

                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    var self = this;

                    reader.onload = e => {
                        self.user.photo = e.target.result;
                    }

                    reader.readAsDataURL(input.files[0]);
                    this.uploadingPhoto = true
                }
            },

            uploadPhoto() {
                $('.btn-upload').button('loading')
                http.put('auth', this.user).then(response => {
                    $.notify('Profile photo updated!');
                    this.uploadingPhoto = false
                })
            }
        }

    }
</script>