<template>
	<div class="row">
		<div class="col-md-4 col-md-6" v-for="team in teams">
			<team-panel>
				<div slot="panel-heading" class="panel-heading">
					<span>{{ team.name }}</span>
		            <div class="pull-right">
		            	<i v-on:click="removeTeam(team)" class="fa fa-remove pointer"></i>
		            </div>
				</div>
				<div slot="content">
					<div class="row">
						<div class="col-md-4">
							<img style="width: 100%;" class="thumbnail" :src="team.photo ? team.photo : config.defaultPhoto">
						</div>
						<div class="col-md-8">
							<h3 class="team-name"><a v-link="{path: '/teams/' + team.id}">{{ team.name }}</a></h3>
							<ul class="team-details row">
								<li class="col-md-6"><h4>{{ team.projects.length }}</h4> projects</li>
								<li class="col-md-6"><h4>{{ team.members.length }}</h4> members</li>
								<!-- <li class="col-md-4"><h4>0</h4> king</li> -->
							</ul>
						</div>
					</div>
				</div>
			</team-panel>
		</div>
		<div v-if="teams.length == 0" class="alert alert-info">No teams. <button data-toggle="modal" data-target="#showTeamModal" class="btn btn-default btn-sm"><i class="fa fa-plus"></i>&nbsp;Click to add.</button></div>
	</div>
</template>

<script>
import TeamPanel from './../../components/panel.vue'
import teamStores from './../../stores/team'
import http from './../../services/http'
import config from './../../config'

export default {
	components: {
		TeamPanel
	},

	ready() {
		this.config = config;
		this.$root.pageTitle = 'Teams';

		http.get('teams')
			.then((response) => {
				this.teams = response.data;
			})
	},

	data() {
		return {
			teams: []
		}
	},

	methods: {			
		removeTeam(team) {
			swal({
                title: team.name,
                text: 'Are you sure to remove ' + team.name + '?', 
                type: 'warning',
                showLoaderOnConfirm: true,
                showCancelButton: true
            }, () => { 
                http.delete('teams/' + team.id)
                    .then(() => {
                       	this.teams.$remove(team);
                    })
            })
		}
	},

	events: {
		'team:created'(team) {
			this.teams.push(team);
		}
	}
}
</script>
