<template>
    <projects-panel>
        <div slot="panel-heading" class="panel-heading">
            <i class="fa fa-list fa-fw"></i> Projects <span class="text-bold" v-if="">({{ team.projects.length }})</span>
            <div class="pull-right">
                <button v-on:click="project = {}, method = 'POST'" data-toggle="modal" data-target="#showProjectModal" class="btn btn-success btn-xs"><i class="fa fa-plus"></i>&nbsp;Add project</button>
            </div>
        </div>
        <div slot="content">
            <div id="projects" v-if="team.projects.length > 0" class="list-group">
                <li class="list-group-item has-controls draggable-item" v-for="project in team.projects">
                    <i class="fa fa-folder fa-fw"></i>
                    <a v-link="{path: '/projects/' + project.id}">{{ project.name }}</a>
                    <small v-if="project.description">({{ project.description }})</small>
                    <span class="controls">
                        <i v-on:click="editProject(project)" data-toggle="modal" data-target="#showProjectModal" class="fa fa-edit"></i>
                        <i v-on:click="removeProject(project)" class="fa fa-remove"></i>
                    </span>
                    <span class="pull-right text-muted small"><em>{{ project.updated_at | date 'MMM D, YYYY' }}</em>
                    </span>
                </li>
            </div>
            <div v-else class="alert alert-info">No projects</div>
        </div>
    </projects-panel>
    <modal target="showProjectModal" title="Create project">
        <project-form slot="content" :form.sync="project" :method="method"></project-form>
        <div slot="modal-footer" class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button @click="submitProject()" class="btn btn-primary">Save project</button>
        </div>
    </modal>
</template>

<script>
import ProjectsPanel from './../../components/panel.vue'
import ProjectForm from './../../components/forms/project.vue'
import Modal from './../../components/modal.vue'

import Team from './../../stores/team'

import projectModel from './../../models/project'
import teamModel from './../../models/team'
import swal from 'sweetalert'

import dragula from 'dragula'

export default {
    components: {
        ProjectsPanel, Modal, ProjectForm
    },

    ready() {
        Team.get(this.$route.params.id).then(response => {
            this.team = response.data;
            this.project.team_id = this.team.id;
            this.$root.pageTitle = this.team.name;
        })
        dragula([document.getElementById('projects')]);
	},

    data() {
        return {
            project: projectModel,
            method: '',
            team: teamModel
        }
    },

    methods: {

        editProject(project) {
            this.method = 'PUT';
            this.project = project;
        },

        removeProject(project) {
            swal({
                title: project.name,
                text: 'Are you sure to remove this project?',
                type: 'warning',
                showLoaderOnConfirm: true,
                showCancelButton: true
            }, () => { 
                http.delete('projects/' + project.id)
                    .then(() => {
                        this.team.projects.$remove(project);
                    })
            })
        },

        submitProject() {
            this.$broadcast('form:submit', 'project')
        }
    },

    events: {
        'project:created'(project) {
            this.team.projects.push(project);
        }
    }
}
</script>